@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,600&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;1,200;1,300;1,400;1,600&display=swap');
:root {
  --maxWidth-none: "none";
  --maxWidth-xs: 20rem;
  --maxWidth-sm: 24rem;
  --maxWidth-md: 28rem;
  --maxWidth-lg: 32rem;
  --maxWidth-xl: 36rem;
  --maxWidth-2xl: 42rem;
  --maxWidth-3xl: 48rem;
  --maxWidth-4xl: 56rem;
  --maxWidth-full: "100%";
  --maxWidth-wrapper: var(--maxWidth-2xl);
  --spacing-px: "1px";
  --spacing-0: 0;
  --spacing-1: 0.25rem;
  --spacing-2: 0.5rem;
  --spacing-3: 0.75rem;
  --spacing-4: 1rem;
  --spacing-5: 1.25rem;
  --spacing-6: 1.5rem;
  --spacing-8: 2rem;
  --spacing-10: 2.5rem;
  --spacing-12: 3rem;
  --spacing-16: 4rem;
  --spacing-20: 5rem;
  --spacing-24: 6rem;
  --spacing-32: 8rem;
  --fontFamily-sans: "Montserrat", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --fontFamily-serif: "Source Sans Pro", "Georgia", Cambria, "Times New Roman",
    Times, serif;
  --font-body: var(--fontFamily-serif);
  --font-heading: var(--fontFamily-sans);
  --fontWeight-normal: 400;
  --fontWeight-medium: 500;
  --fontWeight-semibold: 600;
  --fontWeight-bold: 700;
  --fontWeight-extrabold: 800;
  --fontWeight-black: 900;
  --fontSize-root: 16px;
  --lineHeight-none: 1;
  --lineHeight-tight: 1.1;
  --lineHeight-normal: 1.5;
  --lineHeight-relaxed: 1.625;
  /* 1.200 Minor Third Type Scale */
  --fontSize-0: 0.833rem;
  --fontSize-1: 1rem;
  --fontSize-2: 1.2rem;
  --fontSize-3: 1.44rem;
  --fontSize-4: 1.728rem;
  --fontSize-5: 2.074rem;
  --fontSize-6: 2.488rem;
  --fontSize-7: 2.986rem;
  --color-primary: #0EA5A0;
  --color-text: #2e353f;
  --color-text-light: #4f5969;
  --color-heading: #1a202c;
  --color-heading-black: black;
  --color-accent: #d1dce5;
}

* {
  margin: 0;
  padding: 0;
  color: #121212;
}

body {
  background-color: #f6f6f6;
  font-family: "Source Sans Pro", system-ui, -apple-system,BlinkMacSystemFont,"Segoe UI", Roboto;
  text-rendering: optimizeLegibility;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  
  margin-top: var(--spacing-12);
  margin-bottom: var(--spacing-6);
  line-height: var(--lineHeight-tight);
  letter-spacing: -0.025em;
}

h1 {

  font-family: "Montserrat";
  font-size: 2.5rem;
}
h1:first-child{
  margin-top:0
}
h2 {
  font-family: "Montserrat";
  font-size: 2rem;
}

h3 {

  font-family: "Montserrat";
  font-size: 1.75rem;
}
h4 {

  font-family: "Montserrat";
  font-size: 1.5rem;
}
h5 {

  font-family: "Montserrat";
  font-size: 1.25rem;
}
h6 {

  font-family: "Montserrat";
  font-size: 1rem;
}
p {
  margin: 1rem 0 0 0;
  font-size: 1.25rem;
  line-height: 200%;
  font-weight: 400;
  line-height: var(--lineHeight-relaxed);
    --baseline-multiplier: 0.179;
    --x-height-multiplier: 0.35;
    margin: var(--spacing-0) var(--spacing-0) var(--spacing-8) var(--spacing-0);
    padding: var(--spacing-0);
}

p:last-child {
  margin-bottom: 1rem;
}

h1:hover, h2:hover, h3:hover, p:hover {
  cursor: default;
}

a {
  color: #0EA5A0;
}

a:hover {
  text-decoration: underline;
}
ul,
ol {
  margin-left: var(--spacing-0);
  margin-right: var(--spacing-0);
  padding: var(--spacing-0);
  margin-bottom: var(--spacing-8);
  list-style-position: outside;
  list-style-image: none;
}

ul li,
ol li {
  padding-left: var(--spacing-0);
  margin-bottom: calc(var(--spacing-8) / 2);
}

li>p {
  margin-bottom: calc(var(--spacing-8) / 2);
}

li *:last-child {
  margin-bottom: var(--spacing-0);
}

li>ul {
  margin-left: var(--spacing-8);
  margin-top: calc(var(--spacing-8) / 2);
}
.active {
  text-decoration: underline !important;
  color: #121212;
}

nav {
  overflow: hidden;
  margin: 0;
  text-align: center;
  width: 100%;
  height: auto;
  padding: 4rem 0rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav #title {
  font-size: 2rem;
  float: left;
  font-family: "Montserrat";
  font-weight: 600;
  margin-left: 16rem;
}
nav #title:hover {
  text-decoration: underline;
}
nav .nav-right {
  vertical-align: bottom !important;
  margin-right: 16rem;
  float: right;
  height: auto;
  width: auto;
}
nav .nav-right a {
  float: left;
  color: #707070;
  text-align: center;
  padding: 0px 42px;
  text-decoration: none;
}
nav .nav-right a:last-child {
  padding-right: 0;
}
nav .nav-right a:hover {
  color: #121212;
  text-decoration: underline;
}

.articles h1 {
  margin-top: 1rem;
}
.articles h2 {
  margin-top: 1rem;
}
.articles h3 {
  margin-top: 1rem;
}
.articles a {
  color: #121212;
}

.dateRead {
  color: #707070;
}

.container {
  display: grid;
  overflow: hidden;
  padding: 6rem 26rem 1rem 26rem;
}

.project {
  display: inline-grid;
}
.project a{
  color:#121212
}
code {
  font-family: "Source Code Pro";
  background-color: #E3E2DA;
  padding: 0 4px;
}

hr:last-child {
  margin-bottom: 1rem;
}

ul, ol {
  font-size: 1.25rem;
  list-style-position: inside;
  text-align: left;
}

blockquote {
  display: block;
  border-left: 10px solid #707070;
  margin: 1.5rem 0.5rem;
  padding: 0.25rem 2rem;
}

footer {
  position: relative;
  bottom: 0;
}

.projectContainer {
  width: 100%;
  margin: 0;
  padding: 2rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
}

.project {
  display: inline;
  transition: all 240ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  box-sizing: border-box;
  background-color: #E3E2DA;
  padding: 0.5rem 2rem 1.5rem 2rem;
}
.project:hover {
  -webkit-box-shadow: inset 0px 0px 0px .5rem #0EA5A0;
  -moz-box-shadow: inset 0px 0px 0px .5rem #0EA5A0;
  box-shadow: inset 0px -.5rem 0rem 0rem #0EA5A0;
}
.project h3 a{
  font-size:1.75rem;
  text-decoration-color: #0EA5A0;
}
.project:hover p, .project:hover h3, .project:hover a {

  
}
.project a{
  font-size: 1rem;
}

.isDisabled {
  color: #707070;
  cursor: not-allowed;
  opacity: 0.5;
  text-decoration: none;
}

.fancyhover {
  transition: all 240ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
blockquote {
  color: var(--color-text-light);
  margin-left: calc(-1 * var(--spacing-6));
  margin-right: var(--spacing-8);
  padding: var(--spacing-0) var(--spacing-0) var(--spacing-0) var(--spacing-6);
  border-left: var(--spacing-1) solid var(--color-primary);
  font-size: var(--fontSize-2);
  font-style: italic;
  margin-bottom: var(--spacing-8);
}

blockquote> :last-child {
  margin-bottom: var(--spacing-0);
}

blockquote>ul,
blockquote>ol {
  list-style-position: inside;
}
.gatsby-highlight{
  padding: 0;
  margin: 0;

}
svg{
}
.indexBio{
  font-weight: 600;
  font-size: 2rem;
  letter-spacing: 0;
}

.category{
  text-decoration: underline;
  text-decoration-color: var(--color-primary);
}
.pageTitle {
  text-align: center;
} 
img{
  max-width: fit-content;
}
@media (max-width: 1600px) {
  nav #title {
    margin-left: 4rem;
  }
  nav .nav-right {
    margin-right: 4rem;
  }

  .container {
    padding: 1rem 4rem;
  }
}
@media (max-width: 42rem) {
  blockquote {
    padding: var(--spacing-0) var(--spacing-0) var(--spacing-0) var(--spacing-4);
    margin-left: var(--spacing-0);
  }

  ul,
  ol {
    list-style-position: inside;
  }
}
@media (max-width: 1024px) {
  nav #title {
    margin-left: 2rem;
  }
  nav .nav-right {
    margin-right: 2rem;
  }
  nav .nav-right a {
    padding: 0px 1rem;
  }

  .container {
    padding: 1rem 2rem;
  }

  .projectContainer {
    grid-template-columns: 100%;
  }
}
@media (max-width: 576px) {
  nav #title {
    margin-left: 1rem;
  }
  nav .nav-right {
    margin-right: 1rem;
  }
  nav .nav-right a {
    padding: 0px 0.5rem;
  }

  .container {
    padding: 1rem 1rem;
  }
}

/*# sourceMappingURL=style.css.map */
